 .top_bar_wrapper{background-color:#000000; }
            .top_bar_wrapper{border-bottom: 1px solid #000000;}
            .top_bar,.top_bar a{color:#E3BB49;}
            .header_wrapper {padding-top: 3px; width:100;}
            .logo{padding: 0px 0px 0px 45px; height:70px; width:100%;}
            .left-widget{display:inline; float: left;}
            .right-widget{display:inline;float:right;}
            .header_wrapper.header_type3 {height: 123px;}
            .signin_action{float:right;display:inline;margin-top:0;font-size:14px}
            .image-container-own {
                position: relative;

            }

            .image-container-own img {
                position: absolute;
                width:1280px;
                height:300px;
                top: 0px;
                z-index: -1;
                margin-left: -1280px;
            }

            .top-image {
                animation-name: fade;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-duration: 2s;
                animation-direction: alternate;
            }

 @keyframes fade {
                0% {
                    opacity: 1;
                }
                25% {
                    opacity: 1;
                }
                75% {
                    opacity: 0;
                }
                100% {
                    opacity: 0;
                }
            }
            .search-container-own {
                position:absolute;
                z-index: 1;
                height:96px;
                width:1110px;
                opacity:0.65;
                margin:85px;
            }
            .row{margin-left: 15px;margin-right: 15px;}
            .column1, .column2, .column3{
                position:relative;
                top:30px;
                padding-left: 15px;
                padding-right: 15px;
                display:inline;

            }
            .column1 {width:25%;
                      float:left;
            }
            .column2 {float:left;
                      width:50%}
            .column3{width:25%;
                     float:right;
                     clear:none;}
            .search-location {
                padding:10px;
                font-size: 13px;
                cursor:pointer;
            }
            
            .search-btn button{
                text-transform: uppercase;
                height: 50px;
                background-color: black; 
                color:white;
                border-radius: 3px;
            }
            .mySlides-own {display: none}
            .mySlides-own img {vertical-align: middle;}

            /* Slideshow container */
            .slideshow-container-own {
                width: 100%;
                position: relative;
                margin: auto;
            }

            /* Next & previous buttons */
            .prev-own, .next-own {
                cursor: pointer;
                position: absolute;
                top: 40%;
                width: 5px;
                padding: 10px;
                color: white;
                font-weight: bold;
                font-size: 10px;
                transition: 0.6s ease;
                border-radius: 0 1px 1px 0;
                user-select: none;
            }

            /* Position the "next button" to the right */
            .next-own {
                right: 0;
                border-radius: 1px 0 0 1px;
            }

            /* On hover, add a black background color with a little bit see-through */
            .prev-own:hover, .next-own:hover {
                background-color: rgba(0,0,0,0.8);
            }

            /* Number text (1/3 etc) */
            .numbertext-own {
                color: #f2f2f2;
                font-size: 10px;
                padding: 8px 12px;
                position: absolute;
                top:0;
                right:0;
            }



            /* Fading animation */
            .fade-own {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }

            @-webkit-keyframes fade-own {
                from {opacity: .4} 
                to {opacity: 1}
            }

            @keyframes fade-own {
                from {opacity: .4} 
                to {opacity: 1}
            }
            .ribbon-wrapper{
                width:105px;
                height:30px;
                position:absolute;
                background-color: #434a54;
                color:#fff;
                border-radius: 4px;
                border-bottom-left-radius: 0;
                border-top-right-radius: 0;
                cursor:pointer;
                z-index: 1;

            }
            .ribbon-inside{
                width:100%;
                padding-left: 3%;
                padding-right: 3%;
                font-size:10px;
                text-align: center;
            }

 .property_icon {
                font-size:13px;
                margin:0 0 10px 13px;
                color:#99a3b1;
                line-height:13px;
                float:left;
                cursor:pointer;
            }
            .listing-title{
                height:70px;
                overflow: hidden;
            }
            .listing-title h4{
                padding:10px 13px;
                margin-top:19px;
                margin-bottom: 6px;
                float: left;
                width:100%;
            }
            button.wpb_button {
                background-color:black;
                color:white;
            }
            .roominfo{
                font-size: 13px;
       
                background-repeat: no-repeat;
                margin-right: 7px;
                padding-left: 23px;
                color:#99a3b1;
            }
            .bathinfo{ 
                font-size: 13px;
                background-repeat: no-repeat;
                margin-right: 7px;
                padding-left: 18px;
                color:#99a3b1;
            }
            .listing_unit_price_wrapper{
                color:#000000;
                position:static;
                padding-left: 10px;
                margin-top:10px;
            }
            .share-actions{
                float:right;
                margin-top:3px;
                position: Default;
                top:11px;
                cursor:pointer;
                margin: 0px 0px 0px 13px

            }

            .col-md-8{
                margin-top:25px;
                min-height:1px;
                padding-right: 15px;
                padding-left:15px;
                text-align: justify;
                line-height: 1.5;
            }
            .col-md-8 p{
                margin-bottom: 13px;
                margin-right: 15px;

            }
            #slider_price_5e5d7c99a210a {
                margin-left: 7px;
                width: 100%;
                max-width: 214px;
                height: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .ui-slider-handle {
                margin-top: -2px;
                width: 17px;
                height: 17px;
            }

            .advanced_search_shortcode { 
                border-color:#000000;}

